{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Контакты СТО "Ишак"</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
    <a href="/">
        <h4>Назад</h4>
    </a>
    <h1>Как найти СТО "Ишак"</h1>
    <img src="{{ STATIC_URL }}/static/contacts/img2.jpg">
    <img src="{{ STATIC_URL }}/static/contacts/img1.jpg">
    <h1>Как связаться с СТО "Ишак"</h1>
    <h2>
    Приедте по адресу и постучите в дверь. Может быть вам откроют если вы не урод.
    </h2>
    </body>

    </a>
</html>

