table, th, td {
  background: #00ffff;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
}
body {
    background: #00ffff;
    font-family: Tahoma, Arial, sans-serif;
    color: #ff99ff;
}
img {
  max-width: 33%;
  height: auto;
}
td
{
    text-align: left;
}


.blink_me {
  animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
css
